In [2]:
from sklearn import datasets
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.svm import SVC
import re
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.multiclass import OneVsRestClassifier
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
import seaborn as sns
import pickle
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer
import numpy as np
import matplotlib.pyplot as plt

from sklearn import svm, datasets
from sklearn.model_selection import train_test_split

In [30]:
cols = ["label","ID","Time","No_Query","handle","tweet"]
df = pd.read_csv('training.1600000.processed.noemoticon_1.csv',names=cols,encoding='latin-1')

TEXT PRE PROCESSING

In [15]:
import preprocessor as p

In [17]:
import preprocessor.api as p
from preprocessor.api import clean, tokenize, parse

In [ ]:
uncleaned_list = df['tweet'].tolist()
cleaned_list = []
for x in uncleaned_list:
    cleaned_list.append(p.clean(x))

In [26]:
print(cleaned_list[1:4])

["is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!", 'I dived many times for the ball. Managed to save % The rest go out of bounds', 'my whole body feels itchy and like its on fire']

In [31]:
df['cleaned'] = pd.DataFrame({'cleaned':cleaned_list})

In [53]:
df.loc[df['label'] == 0]

,label,ID,Time,No_Query,handle,tweet,cleaned
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...","- Awww, that's a bummer. You shoulda got David..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,I dived many times for the ball. Managed to sa...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....","no, it's not behaving at all. i'm mad. why am ..."
...,...,...,...,...,...,...,...
799995,0,2329205009,Thu Jun 25 10:28:28 PDT 2009,NO_QUERY,dandykim,Sick Spending my day laying in bed listening ...,Sick Spending my day laying in bed listening to
799996,0,2329205038,Thu Jun 25 10:28:28 PDT 2009,NO_QUERY,bigenya,Gmail is down?,Gmail is down?
799997,0,2329205473,Thu Jun 25 10:28:30 PDT 2009,NO_QUERY,LeeLHoke,rest in peace Farrah! So sad,rest in peace Farrah! So sad
799998,0,2329205574,Thu Jun 25 10:28:30 PDT 2009,NO_QUERY,davidlmulder,@Eric_Urbane Sounds like a rival is flagging y...,Sounds like a rival is flagging your ads. Not ...
799999,0,2329205794,Thu Jun 25 10:28:31 PDT 2009,NO_QUERY,tpchandler,has to resit exams over summer... wishes he w...,has to resit exams over summer... wishes he wo...

In [48]:
X = df.cleaned
y = df.label
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)
print(y_train[1:100])

662751     0
685875     0
337714     0
1045427    4
747472     0
          ..
186893     0
696463     0
368907     0
315412     0
347163     0
Name: label, Length: 99, dtype: int64

In [43]:
from sklearn.naive_bayes import MultinomialNB 
from sklearn.pipeline import Pipeline 
from sklearn.feature_extraction.text import TfidfTransformer

nb = Pipeline([('vect', CountVectorizer()), 
               ('tfidf', TfidfTransformer()), 
               ('clf', MultinomialNB()), 
              ])
nb.fit(X_train, y_train)


from sklearn.metrics import classification_report 
y_pred = nb.predict(X_test)

print('accuracy %s' % accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred,target_names=["0","1","2","3","4"]))

accuracy 0.7881986057290359

ValueError: Number of classes, 2, does not match size of target_names, 5. Try specifying the labels parameter